#table {
  width: 56%;
  margin: 0 auto;
  border-radius: 5px;
}

#table td,
th {
  vertical-align: middle;
}

.backG {
  background: url(../../Assets/bg-blurred.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 2rem;
}
