.bgimg {
  background: url(../../Assets/bg-blurred.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Changa", sans-serif;
  padding-bottom: 2rem;
}
.cards
{
  padding-top: 2rem ;
  width: 60rem;
  text-align: center;
  margin: auto;
  margin-left: 10rem;
}
.cards h5{
  font-weight:bold;
  text-align: center;
  font: bolder;
}
.title{
  font-weight: bolder;
  font-size: 18px;

}
.title:hover{
  cursor: pointer;
  color: #DA2A2A;
  transform: scale(1.5);
  transition-duration: 2s;

}
.card img:hover{
  transform: scale(1.5);
  transition-duration: 2s;
}