.backcolor{
    background-color: black;
    width: 100%;
    color: rgba(255,255,255,.5);
    padding: 30px;

/* }.copyright{
   display: flex;
   justify-content: space-between; */
}
h3{
    padding: 20px 10px;
    color: #fff;
}
p{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    
}
.pageFooter i{
   
    margin: 0px 5px;
    color: rgba(255,255,255,.5);
    font-size: 1.3rem;
}