.separator {
  margin: 40px 0px 0px;
  border: 1px solid transparent;
  border-radius: 3px;
  background: rgb(44, 43, 43);
  padding: 10px 10px;
  opacity: 0.8;
}
.imageUrl {
  border-radius: 3px;
  width: 250px;
  height: 350px;
  padding: 10px;
  border: 1px solid rgb(100, 100, 100);
}

.name,
.description {
  text-transform: capitalize;
}
.name {
  font-weight: bold;
}
.rank {
  color: rgb(200, 0, 0);
  font-weight: bold;
}

.name,
.price,
.description {
  color: rgb(209, 209, 209);
}
