.layout {
  width: 60%;
  margin: 1rem auto;
}
.bgimg {
  background: url(../../Assets/bg-blurred.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Changa", sans-serif;
  padding-bottom: 2rem;
}

.lightOpacity {
  opacity: 0.8;
}

.nav {
  top: 0;
  position: sticky;
  z-index: 3;
}
.collectionheader{
  display: flex;
  margin-top: 60px;
  justify-content:space-between;
}
.collectionname{
  background-color: #000;
  color: #fff;
  border: 1px solid #FFF;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 1.6rem
}
.btngroup{
  margin: 10px;
}
.btngroup button{
  padding: 10px 60px;
  font-size: 1.2rem;
}
.number{
  background-color:#000;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
  border:1px solid #fff;
}
.commentImg img
{
    height: 70px;
    border-radius: 50%;
}
.commentImg
{
    margin-left: 4rem;
}
.commentText{
    width: 45rem;
    height: 5rem;
}
.btncardjoin{
  padding: 10px 15px;
  margin-left: 10px;
}
