.layout {
  width: 60%;
  margin: 1rem auto;
}
.bgimg {
  background: url(../../Assets/bg-blurred.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Changa", sans-serif;
  padding-bottom: 2rem;
}

.lightOpacity {
  opacity: 0.8;
}

.nav {
  top: 0;
  position: sticky;
  z-index: 3;
}

.radar {
  width: 100%;
  background: #272727;
}
