.layout{
    width: 60%;
    margin: 1rem auto;
}
.bgimg{
  
    background: url(../../Assets/back4.jpeg)  no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;


}