.profileData{
    direction:rtl;
    text-align: right;
}
ul{
    display: inline-block;
    justify-content: flex-start;
}
ul li{
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}